{% extends 'source/nav.html' %}
{% load static %}

{% block head_block %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock%}

{% block block_body %}
<section class="home">
</section>
<div style="height: 1000px">
	<h1 class="myH2">Welcome to <strong>TensorCore</strong> </h1>
	<h2 class="myH2">Expert Electrical Engineer and Full-Stack Django Developer!</h2>
    <p class="myP">At <strong>TensorCore</strong>, we pride ourselves on being a dynamic agency, offering a comprehensive range of services that seamlessly blend our expertise in <em>Electrical Engineering</em> with cutting-edge <em>Full-Stack Django Development</em>. Led by a Master's graduate in <em>Control Science</em> with two years of freelancing excellence, our team stands ready to deliver top-tier solutions for your diverse needs.</p>

    
    <p class="myP"><strong>Why Choose <em>TensorCore</em>?</strong></p>
        <li class="myP"><strong>Full-Stack Django Development:</strong> As specialists in Full-Stack Development using Django, we create robust, scalable, and feature-rich web applications. From sleek user interfaces to powerful server-side logic, <strong>TensorCore</strong> ensures your digital presence is not only functional but also exceptional.</li>
        <br>
		<li class="myP"><strong>Multi-Faceted Expertise:</strong> Beyond Full-Stack Django Development, our team excels in <em>AI Engineering</em>, <em>Control & Robotics Engineering</em>, <em>IoT Development</em>, and <em>LaTeX/Overleaf scripting</em>, providing a holistic approach to your project requirements.</li>
        <br>
		<li class="myP"><strong>Proven Track Record:</strong> With a strong foundation in Electrical Engineering, a certified <em>Microsoft Office Expert</em>, and a publication record of four research papers, <strong>TensorCore</strong> brings academic excellence and real-world experience to every project.</li>
        <br>
		<li class="myP"><strong>Software Mastery:</strong> From <em>MATLAB</em> to <em>Python</em>, <em>PSpice</em> to <em>Arduino</em>, we wield a versatile arsenal of software and programming languages to tackle projects of any complexity.</li>
        <br>
		<li class="myP"><strong>Academic Support:</strong> <strong>TensorCore</strong> specializes in marking lab reports and assignments, guaranteeing A+ grades and delivering plagiarism-free reports on time.</li>


    <p class="myP"><strong>Our Expertise Includes:</strong></p>
        <li class="myP">Circuit and Network Analysis</li>
        <li class="myP">MPLAB Pic Controller</li>
        <li class="myP">Digital Logic Design</li>
        <li class="myP">DC Machines/AC Machines</li>
        <li class="myP">Power Analysis</li>
        <li class="myP">Electronics 1 & 2</li>
        <li class="myP">Signal and Systems</li>
        <li class="myP">Microprocessors</li>
        <li class="myP">Communication Systems</li>
        <li class="myP">Control Systems</li>
        <li class="myP">Mathematics</li>
        <li class="myP">Programming Fundamentals</li>

    <p class="myP"><strong>Software Expertise:</strong></p>


        <li class="myP">MATLAB</li>
        <li class="myP">MULTISIM</li>
        <li class="myP">PSpice</li>
        <li class="myP">LTspice</li>
        <li class="myP">LabVIEW</li>
        <li class="myP">Proteus</li>
        <li class="myP">Arduino</li>
        <li class="myP">Raspberry Pi</li>
        <li class="myP">Python</li>
        <li class="myP">C++</li>


    <p class="myP">Ready to elevate your projects with <strong>TensorCore's</strong> unique blend of expertise? Contact us now for a consultation, and let's transform your ideas into reality!</p>

    <p class="myP"><strong>Get in touch today and experience the <em>TensorCore</em> Advantage!</strong></p>
    <br>
    <br>

</div>

{% endblock %}
